body {
  background: #202020;
  color: orange;
}
button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

#chrono {
  font-family: 'Black Ops One';
  font-size: 100px;
  position: absolute;
  margin-left: 52%;
}
#buttons {
  position: absolute;
  margin-top: 100px;
  margin-left: 50%;
}
input {
  width: 110px;
  display: inline;
  padding-left: 10px;
  text-align: center;
}
